{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class="dashboard-content border-dashed p-3 m-4 view-height">

{% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
{% endif %}


  <form method="POST" action="">
                {% csrf_token %}
    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">Add recipes to a plan</h3>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <input type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="Save"/>
        </div>
    </div>

    <div class="schedules-content">
            <div class="form-group row">
                <label for="choosePlan" class="col-sm-2 label-size col-form-label">
                    Choose a plan
                </label>
                <div class="col-sm-3">
                    <select class="form-control" id="choosePlan" name="chosen_plan">
                        {% for plan in all_plans %}
                        <option value="{{ plan.name }}">{{ plan.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 label-size col-form-label">
                    Meal type
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" value="" id="name"  placeholder="Eg. breakfast, lunch, etc." name="meal_name">
                </div>
            </div>
            <div class="form-group row">
                <label for="number" class="col-sm-2 label-size col-form-label">
                    Meal number
                </label>
                <div class="col-sm-2">
                    <input type="number" class="form-control" value="" id="number" placeholder="Which in order should it be?" name="meal_nr">
                </div>
            </div>
            <div class="form-group row">
                <label for="recipe" class="col-sm-2 label-size col-form-label">
                    Recipe
                </label>
                <div class="col-sm-4">
                    <select class="form-control" id="recipe" name="chosen_recipe">
                        {% for recipe in all_recipes %}
                        <option value="{{ recipe.name }}">{{ recipe.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="day" class="col-sm-2 label-size col-form-label">
                    Day of the week
                </label>
                <div class="col-sm-2">
                    <select class="form-control" id="day" name="chosen_day">
                         {% for day in WeekDays %}
                        <option value="{{ day.1 }}">{{ day.0 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
    </div>
  </form>
</div>
{% endblock content %}
